<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Homepage</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #f4f4f4;
            font-family: 'Montserrat', sans-serif;
        }
        .navbar-custom {
            background-color: #ff6f61;
            padding: 1rem;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        }
        .navbar-brand, .nav-link {
            color: #ffffff;
            font-size: 1.8rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .dropdown-menu {
            background-color: #ff6f61;
            border: none;
        }
        .dropdown-item {
            color: #ffffff;
        }
        .dropdown-item:hover {
            background-color: #e96053;
        }
        .montserrat-title {
            font-weight: 600;
        }
        #chartContainer .col-md-6 {
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            overflow: hidden;
        }
        #goalsChart, #categoryChart {
            width: 100% !important;
            height: auto !important;
        }
        .list-group-item {
            border: none;
            margin-top: 5px;
            padding: 12px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
            font-size: 1.2rem;
            margin-top: 50px;
            border-top: 2px solid #ff6f61;
        }
        /* Fancy Animations */
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        .fadeIn {
            animation-name: fadeIn;
            animation-duration: 1s;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand montserrat-title" href="/TestModel/dashboard/">Dashboard</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle montserrat-title" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Username
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/TestModel/overview/">Overview</a></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="chart-options">
            <select id="chartType" class="form-select" onchange="updateChartType(this.value)">
                <option value="pie">Pie Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="list">List View</option>
            </select>
        </div>
        <div id="chartContainer" class="row mt-5 justify-content-center text-center fadeIn" style="display:none;">
            <div class="col-md-6">
                <canvas id="goalsChart"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="categoryChart"></canvas>
            </div>
        </div>           
        <div id="ListView" class="mt-5 fadeIn" style="display: none;"></div>
        <div class="mt-3 text-center">
            <button class="btn btn-primary" onclick="showRandomQuote()">Show Inspirational Quote</button>
        </div> 
    </div>
    <footer>
        Copyright © 2024, Funky Dashboard. All rights reserved.
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('navbarDropdown').innerHTML = localStorage.getItem('username');
        let goalsChartInstance;
        let categoryChartInstance;

        function logout() {
            localStorage.removeItem('username');
            localStorage.removeItem('userid');
            Swal.fire('Congratulations', 'Logout successfully', 'success')
            .then(() => {
                window.location.href = '/TestModel/homepage/';
            });
        }

        function updateChartType(chartType) {
            localStorage.setItem('preferredChartType', chartType);
            
            axios.get('/TestModel/summary/')
            .then(response => {
                const stats = response.data.stat;

                switch(chartType) {
                    case 'pie':
                        document.getElementById('ListView').style.display='none';
                        document.getElementById('chartContainer').style.display='block';
                        generateGoalsPieChart(stats);
                        generateCategoryPieChart(stats);
                        break;
                    case 'bar':
                        document.getElementById('ListView').style.display='none';
                        document.getElementById('chartContainer').style.display='block';
                        generateGoalsBarChart(stats);
                        generateCategoryBarChart(stats);
                        break;
                    case 'line':
                        document.getElementById('ListView').style.display='none';
                        document.getElementById('chartContainer').style.display='block';
                        generateGoalsLineChart(stats);
                        generateCategoryLineChart(stats);
                        break;
                    case 'list':
                        document.getElementById('ListView').style.display='block';
                        document.getElementById('chartContainer').style.display='none';
                        generateListView(stats);
                        break;
                    default:
                        document.getElementById('ListView').style.display='none';
                        document.getElementById('chartContainer').style.display='block';
                        generateGoalsPieChart(stats);
                        generateCategoryPieChart(stats);
                }
            })
            .catch(error => {
                console.error('Error fetching stats:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const preferredChartType = localStorage.getItem('preferredChartType') || 'pie';
            document.getElementById('chartType').value = preferredChartType;
            updateChartType(preferredChartType);
        });

        function generateGoalsBarChart(stats) {
            const ctx = document.getElementById('goalsChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (goalsChartInstance) {
                goalsChartInstance.destroy();
            }

            goalsChartInstance = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Completed Goals', 'In Progress Goals', 'Not Started Goals'],
                    datasets: [{
                        data: [stats.goals_completed, stats.goals_in_progress, stats.goals_not_started],
                        backgroundColor: ['#5CB85C', '#F0AD4E', '#F7FFF6'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Goals Overview'
                        }
                    }
                }
            });
        }

        function generateCategoryBarChart(stats) {
            const ctx = document.getElementById('categoryChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (categoryChartInstance) {
                categoryChartInstance.destroy();
            }

            categoryChartInstance = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Home Goals', 'Work Goals', 'Study Goals', 'Other Goals'],
                    datasets: [{
                        data: [stats.goals_home, stats.goals_work, stats.goals_study, stats.goals_other],
                        backgroundColor: ['#397367', '#63ccca', '#5da399', '#42858c'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Goals by Category'
                        }
                    }
                }
            });
        }

        function generateGoalsLineChart(stats) {
            const ctx = document.getElementById('goalsChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (goalsChartInstance) {
                goalsChartInstance.destroy();
            }

            goalsChartInstance = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Completed Goals', 'In Progress Goals', 'Not Started Goals'],
                    datasets: [{
                        data: [stats.goals_completed, stats.goals_in_progress, stats.goals_not_started],
                        backgroundColor: ['#5CB85C', '#F0AD4E', '#F7FFF6'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Goals Overview'
                        }
                    }
                }
            });
        }

        function generateCategoryLineChart(stats) {
            const ctx = document.getElementById('categoryChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (categoryChartInstance) {
                categoryChartInstance.destroy();
            }

            categoryChartInstance = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Home Goals', 'Work Goals', 'Study Goals', 'Other Goals'],
                    datasets: [{
                        data: [stats.goals_home, stats.goals_work, stats.goals_study, stats.goals_other],
                        backgroundColor: ['#397367', '#63ccca', '#5da399', '#42858c'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Goals by Category'
                        }
                    }
                }
            });
        }

        function generateListView(stats) {
            const listContainer = document.getElementById('ListView');

            if (goalsChartInstance) {
                goalsChartInstance.destroy();
            }
            if (categoryChartInstance) {
                categoryChartInstance.destroy();
            }

            const htmlContent = `
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" style="background-color: #85C7F2; color: white; border: none;">
                        Goals Overview
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Completed: ${stats.goals_completed}</a>
                    <a href="#" class="list-group-item list-group-item-action">In Progress: ${stats.goals_in_progress}</a>
                    <a href="#" class="list-group-item list-group-item-action">Not Started: ${stats.goals_not_started}</a>
                </div>
                <div class="list-group mt-3">
                    <a href="#" class="list-group-item list-group-item-action active" style="background-color: #85C7F2; color: white; border: none;">
                        Goals by Category
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Home: ${stats.goals_home}</a>
                    <a href="#" class="list-group-item list-group-item-action">Work: ${stats.goals_work}</a>
                    <a href="#" class="list-group-item list-group-item-action">Study: ${stats.goals_study}</a>
                    <a href="#" class="list-group-item list-group-item-action">Other: ${stats.goals_other}</a>
                </div>
            `;
            listContainer.innerHTML = htmlContent;
        }

        function generateGoalsPieChart(stats) {
            const ctx = document.getElementById('goalsChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (goalsChartInstance) {
                goalsChartInstance.destroy();
            }

            goalsChartInstance = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Completed Goals', 'In Progress Goals', 'Not Started Goals'],
                    datasets: [{
                        data: [stats.goals_completed, stats.goals_in_progress, stats.goals_not_started],
                        backgroundColor: ['#5CB85C', '#F0AD4E', '#F7FFF6'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: 'Goals Overview'
                        }
                    }
                }
            });
        }

        function generateCategoryPieChart(stats) {
            const ctx = document.getElementById('categoryChart').getContext('2d');
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.canvas.width = 600;
            ctx.canvas.height = 600;

            if (categoryChartInstance) {
                categoryChartInstance.destroy();
            }

            categoryChartInstance = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Home Goals', 'Work Goals', 'Study Goals', 'Other Goals'],
                    datasets: [{
                        data: [stats.goals_home, stats.goals_work, stats.goals_study, stats.goals_other],
                        backgroundColor: ['#397367', '#63ccca', '#5da399', '#42858c'],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: 'Goals by Category'
                        }
                    }
                }
            });
        }

        const quotes = [
        "The future belongs to those who believe in the beauty of their dreams. - Eleanor Roosevelt",
        "Believe you can and you're halfway there. - Theodore Roosevelt",
        "Don't watch the clock; do what it does. Keep going. - Sam Levenson",
        "The only way to do great work is to love what you do. - Steve Jobs",
        "It does not matter how slowly you go as long as you do not stop. - Confucius",
        "Success is not final, failure is not fatal: It is the courage to continue that counts. - Winston Churchill",
        "The only limit to our realization of tomorrow is our doubts of today. - Franklin D. Roosevelt",
        "Your time is limited, don't waste it living someone else's life. - Steve Jobs",
        "Everything you've ever wanted is on the other side of fear. - George Addair",
        "Hardships often prepare ordinary people for an extraordinary destiny. - C.S. Lewis"
    ]; 
    
        function showRandomQuote() {
            const randomIndex = Math.floor(Math.random() * quotes.length);
            const quote = quotes[randomIndex];
            
            Swal.fire({
                title: 'Inspirational Quote',
                text: quote,
                icon: 'info',
                confirmButtonText: 'OK'
            });
        }






    </script>
</body>
</html>
